/.anydesk
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.config
/.dotnet
/.gnupg
/.kshrc
/.local
/.pki
/.profile
/.ssh
/.vscode
/Documentos
/Downloads
/Imagens
/Modelos
/Músicas
/Público
/Vídeos
/snap
/Área de trabalho