.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-serviço{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.caixa{
    background-color: wheat;
    color: white;             /* Letras brancas */
    padding: 20px;            /* Espaço interno para o texto não ficar colado na borda */
    border-radius: 8px;       /* Deixa as bordinhas da caixa arredondadas */
    text-align: center;
}