body{
    background-color: blueviolet;
}

.container-principal{
    max-width: 1200px;
    width: 100%;
    margin: 2rem auto;
    padding: 0 1.5rem;
    flex: 1;
}


.grade-conteudo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem; 
    margin-top: 2rem;
    padding: 0;
    list-style: none;
    width: 100%;
}

.header{
    background-color: wheat; 
    padding: 2rem 1.5rem 0 1.5rem;
}

.controles{
    flex: 1;
}

.cartilha_conter{
    margin-left: 30%;
    
}

.engenharia{
    margin-left: 30%;
    padding: 0;
    background-color: black;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    flex: 1;
    box-sizing: border-box;
    min-width: 200px;
    text-align: center;
}

.engenharia:hover{
    color: grey;
    text-decoration:none;
}